<!-- List all games which the developer upload and order by the name of game -->
{% for game in dev_games %}
<div class="col-sm-4 col-lg-4 col-md-4">
	<div class="thumbnail">
		<img src="/static/pic/what.jpeg" alt="">
		<div class="caption">
			<h4 class="pull-right">${{game.game_price}}</h4>
			<h4>{{game.game_name}}</h4>
			<p>{{game.game_description}}</p>
		</div>
		<form class="form-horizontal" role="form" method="post">{% csrf_token %}
			<div class="form-group">
				<input type="hidden" class="form-control" id="gameName" name="gameName" value="{{game.game_name}}">
			</div>
			<div class="form-group last">
			<div class="col-sm-offset-3 col-sm-9">
				<a href ="/edit/{{game.game_name}}/">edit</a>
				<!-- <button type="submit" class="btn btn-success btn-sm" id="edit" name="edit" value="edit" >Edit</button> -->
				<button type="submit" onclick="show_confirm()" class="btn btn-default btn-sm" id="remove" name="remove" value="remove" >Remove</button>
			</div>
			</div>
		</form>
	</div>

</div>
{% endfor %}
