{% extends "base.html" %}

{% block mainbody %}
<!-- navigation -->
{% include 'nav.html' %}
<!-- Play Game Content -->
{% load staticfiles %}
<div id="container" class="container">
    <div class="row">
	<div class="col-md-12">
		<div class="thumbnail">
			<img class="img-responsive" src="/static/pic/what.jpeg" alt="">
			<div class="caption-full">
				<h4 class="pull-right">${{game.game_price}}</h4>
				<h4>{{game.game_name}}</h4>
				{% if user in all_players  %}
				<a href="/play/{{game.game_name}}" class="btn btn-primary btn-sm pull-right" role="button">Play</a>
				{% else %}
				<a href="/pay/{{game.game_name}}" class="btn btn-primary btn-sm pull-right" role="button">Buy</a>
				{% endif %}
				<p>{{game.game_description}}</p>
			</div>
		</div>
	</div>
    </div>
</div>
<!-- footer -->
{% include 'footer.html' %}
{% endblock %}

</body>
</html>
