<!DOCTYPE html>
<html lang="en">

<head>
  <title>Game +</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap libraries-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>

<body>
<div class="container">
	<!-- Forget Password Form -->
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img class="img-responsive" src="/static/img/logo.png" alt="Logo">
				</div>
                <div class="panel-body">
				<div class="tab" role="tabpanel">
                <!-- tab nav -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#forgetPassword" aria-controls="home" role="tab" data-toggle="tab">Reset Your Password</a></li>
                </ul>
				<hr>
                <!-- tab content -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="forgetPassword">
					<span style="color: red">{{mess}}</span>
                    <form class="form-horizontal" role="form" method="post">{% csrf_token %}
					<div class="form-group">
						<label for="inputEmail" class="col-sm-3 control-label">Email</label>
						<div class="col-sm-9">
							<input type="email" class="form-control" name="find_email" placeholder="Email" required="required">
						</div>
					</div>
                    <div class="form-group last">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-success btn-sm">Send</button>
                            <a href="/login/">Go Back</a>
                        </div>
                    </div>
					</form>
					</div>
                </div>
                </div>
                </div>
                <div class="panel-footer">
					<form class="form-inline">
					<div class="form-group">
						<label for="Facebook">Log in with Facebook</label>
							<button type="submit" class="btn btn-primary btn-sm" id="Facebook"> Facebook</button>
					</div>
					</form>
				</div>
			</div>
		</div>
    </div>
</div>

</body>

</html>
